body{
	background-color: #cffffa;
}



.navbar {
    transition: all 0.4s;
}

ul{
	list-style: none;
	display: flex;
}

.logo{
	flex: auto;
}

.navbar .navbar-brand {
    color: #fff;
    position: sticky;
}

.collapse .navbar-collapse{
	float: right;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}




/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}


.navbar .navbar-nav .nav-link:hover {
  color: #0dcaf0;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ffffff;
  width: 0%;
  content: "";
  height: 4px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}


.dropdown-menu a:hover {
	background-color: #21bedd;
	
	}

.nav-item:hover .dropdown-menu {display: block;}

.bg-image {
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.card-body {
	font-family: "alice";
	font-size: 15px;

	
}

.card-title2 {
	font-family: "sofia";
	
}

.card-text2 {
	font-family: "sofia";
}

.border-start {
	height: 100px;
	position: relative;
	margin-top: 5px;

	
}



.card-title1 {
	font-family: "sofia";
	font-size: 80px;
	
}

.card-text1 {
	font-family: "sofia";
	font-size: 20px;
}

.rounded-pill{
	height: 50px;

}


         .btn-grad {background-image: linear-gradient(to right, #0575E6 0%, #021B79  51%, #0575E6  100%)}
         .btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: !important;
          }
         

.fresh-content{
	max-height: 100%;
	max-width: 100%;
    background-image: transparent;
 font-family: "playball";
 font-size: 20px;
   
}



.swiper-container{
	height: 526px;
	width: 791px;
	margin-left: auto;
	margin-right: auto;


}

.swiper-lide{
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;    
	
}



#myVideo {
 position: relative;
  right: 0;
  bottom: 0;
  
}

/* Add some content at the bottom of the video/page */


/* Style the button used to pause/play the video */
#myBtn {
  width: 5px;
  font-size: 5px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}


.mapouter {
	position:relative;
	text-align:right;
	width:600px;
	height:400px;
	}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	width:600px;
	height:400px;
	}
.gmap_iframe {width:600px!important;
height:400px!important;
}

.Rada{
	font-family: "sofia";
	font-size: 60px;
	
}

.card a{
	text-decoration: none;
}

